<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=storageaccounttt;AccountKey=LdYEOMUzrPIblN8blgWuG5t+TkOPQvUCfXcZhFsNRMxzK7nTtJxFnFThwMuY8uLKpegGC0OT99kHldIJ1mO2FQ==;EndpointSuffix=core.windows.net" />
  </appSettings>
</configuration>